    <h1>Bienvenido a Maraton</h1>
  
  <form action="/user" method="post">
    <label> Introduce tu correo electronico: </label>
    <br>
    <input type="text" name="user_mail" placeholder = "example@mail.com">
     <br>
     <label> Introduce tu contraseña: </label>
     <br>
    <input type="password" name="user_password" placeholder = "*******">
     <br>
    <input type="submit" value="Log in">
  </form>  
  <br>
  <a href="/register">Pulsa aqui si eres nuevo usuario y quieres registrarte</a>
  

  
