<h1>Registrate para jugar Maraton</h1>
  
  <form action="/register_user" method="post">
    <label> Introduce tu correo electronico: </label>
    <br>
    <input type="text" name="user_mail" placeholder = "example@mail.com">
     <br>
     <label> Introduce tu contraseña: </label>
     <br>
    <input type="password" name="user_password" placeholder = "*******">
     <br>
    <input type="submit" value="Register">
  </form>  